:root{
    --main-color: black;
    --accent-color: #3b82f6;
    --text-color-solid: white;
    --text-color-light: black;
    --background-color-solid: #1f2937;
    --background-color-light: #ffffff;
    --background-color-gray: #e5e7eb;

    --section-size: 400px;
    --contact-size: 300px;
    --credits-size: 1rem;
}

* {
    /*border: orange 1px solid;*/
}

body {
    margin: 0;
    background-color: var(--background-color-solid);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--text-color-solid);
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav li {
    list-style: none;
}

nav a {
    color: var(--text-color-solid);
    text-decoration: none;
}

#main-logo {
    display: flex;
}

.solid {
    background-color: var(--background-color-solid);
    color: var(--text-color-solid);
    max-width: 1000px;

}
.light {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}
.button {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2rem;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

section {
    display: flex;
    margin: 0 auto;
    /*max-width: 1000px;*/
    height: var(--section-size);
    padding: 2rem;
}

#about .content{
    display: flex;
    flex-direction: row;
}

#about .content div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about img {
    border-radius: 10px;
}

#features {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#features ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

#features li {
    width: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#quote {
    background-color: var(--background-color-gray);
}

#quote .content {
    justify-content: center;
}

#quote p {
    text-align: right;
}

#contact {
    height: var(--contact-size);
    align-items: center;
}

#contact .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;

    background-color: var(--accent-color);
    border-radius: 10px;
    color: var(--text-color-solid);
}

#contact .button {
    border: 3px white solid;
}

#credits {
    height: var(--credits-size);
    color: var(--text-color-solid);
    justify-content: center;
    align-items: center;
}
